# Ignore build outputs
output/
*.mkv
*.mp4
*.avi

# Ignore input , data , resault

input
resault
data

# Ignore temporary files
.cftff-*
temp-*

# Node modules
node_modules/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log